@media (max-width: 780px) {
  .modal__content {
    gap: 25px;
    padding: 30px 30px 35px;
  }

  .modal-head__title {
    font-size: 18px;
  }

  .modal-head__text {
    line-height: 22px;
  }

  .progress__step {
    width: 18px;
    height: 18px;
  }

  .completion__title {
    font-size: 20px;
    line-height: 24px;
  }
}