@media (max-width: 480px) {
  .modal__content {
    gap: 20px;
    padding: 30px 20px;
  }

  .modal-head__title {
    font-size: 16px;
  }

  .modal-head__text {
    font-size: 14px;
    line-height: 20px;
  }

  .submit {
    max-width: none;
    width: 100%;
  }

  .back-btn {
    position: static;
    order: 1;
  }

  .progress__step {
    font-size: 10px;
    line-height: 12px;
    width: 16px;
    height: 16px;
  }

  .organization {
    gap: 10px;
  }

  .organization__label {
    font-size: 14px;
    padding: 14px 10px;
    line-height: 16px;
  }

  .completion__title {
    font-size: 18px;
    line-height: 22px;
  }
  .completion {
    margin: 0 0 5px;
  }
}